<html>
<head>
    <title>Rap Battle</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="resources/css/menu.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div id="TitleContainer" class="container-sm">
    <h1 style="font-family: 'Permanent Marker', cursive;">Choose a rapper to sing with, not a rapist!</h1>
</div>

<div>
    <a href="main/room/1">  <img id="sandrim" src="resources/sandrim.png" style="display:inline;"/> </a>
    <div class="songTitle" style="display:inline-grid;">
        <p style="font-family: 'Permanent Marker', cursive;"> Sandro G </p>
        <p style="font-family: 'Permanent Marker', cursive;"class="songTitle"> Eu nã vou xorá </p>
    </div>
</div>

<div>
    <a href="main/room/2"> <img id="sandrim" src="resources/eminem.png" style="display:inline;"/> </a>
    <div class="songTitle" style="display:inline-grid;">
        <p style="font-family: 'Permanent Marker', cursive;"> Eminem </p>
        <p style="font-family: 'Permanent Marker', cursive;"class="songTitle"> I'm Not Afraid </p>
    </div>
</div>

<div>
    <a href="main/room/3"> <img id="sandrim" src="resources/50cent.png" style="display:inline;"/> </a>
    <div class="songTitle" style="display:inline-grid;">
        <p style="font-family: 'Permanent Marker', cursive;"> 50 Cent </p>
        <p style="font-family: 'Permanent Marker', cursive;"class="songTitle"> Candy Shop</p>
    </div>
</div>

<div style="margin: auto; display: table" class="audio-controls">
    <audio autoplay>
        <source src="resources/galinha.mp3" type="audio/mpeg">
    </audio>
</div>

</body>
</html>